<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Testing Guide</title>
</head>
<body>
    <h1>Web Security Testing Guide</h1>
    <form action="/update" method="post">
        {% for row in table_data %}
            <div class="row">
                {% for cell in row %}
                    <input type="text" name="row[{{ loop.index }}][{{ loop.index0 }}]" value="{{ cell | escape }}">
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Update Table</button>
    </form>
</body>
</html>
